* {
  margin: 0;
  padding: 0;
}
.header {
  margin: 0.5rem;
  font-size: 25px;
  padding-bottom: 1rem;
  border-bottom: 1.5px solid #ddd;
}
.country {
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.5rem;
}
.country h2 {
  padding-bottom: 1rem;
  font-size: 30px;
}
.heading-tag {
  text-decoration: none;
}
a {
  color: #0066cc;
  font-size: 17px;
  display: block;
  margin-top: 0.5rem;
  text-decoration: 0;
}
